<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="AutoReporter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<applicationSettings>
		<AutoReporter.Properties.Settings>
   <setting name="AutoReporter_ReportService_RegisterReport" serializeAs="String">
    <value>http://autoreportservice/RegisterReport.asmx</value>
   </setting>
   <setting name="CrashURL" serializeAs="String">
    <value>http://CrashReport/Crashes/</value>
   </setting>
   <setting name="UploadURL" serializeAs="String">
    <value>http://autoreportservice/UploadReportFiles.aspx</value>
   </setting>
   <setting name="AutoReporter_ReportService_RegisterReport_Debug"
    serializeAs="String">
    <value>http://autoreportservice/RegisterReport.asmx</value>
   </setting>
   <setting name="CrashURL_Debug" serializeAs="String">
    <value>http://CrashReport/Crashes/</value>
   </setting>
   <setting name="UploadURL_Debug" serializeAs="String">
    <value>http://autoreportservice/UploadReportFiles.aspx</value>
   </setting>
  </AutoReporter.Properties.Settings>
	</applicationSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
	<runtime>
		<generatePublisherEvidence enabled="false"/>
	</runtime>
</configuration>
