#PURPLE {
     color: #800080
}

#YELLOW {
     color: #ffff00
}

#ORANGE {
     color: #ff6600
}

#RED {
     color: #ff0000
}

#PINK {
     color: #ff00ff
}

#PURPLE {
     color: #800080
}

#TEAL {
     color: #008080
}

#NAVY {
     color: #000080
}

#BLUE {
     color: #0000ff
}

#AQUA {
     color: #00ffff
}

#LIME {
     color: #00ff00
}

#GREEN {
     color: #008000
}

#OLIVE {
     color: #808000
}

#MAROON {
     color: #800000
}

#BROWN {
     color: #996633
}

#BLACK {
     color: #000000
}

#GRAY {
     color: #808080
}

#SILVER {
     color: #c0c0c0
}

#WHITE {
     color: #ffffff
}


div.codesnippet {
     background: none repeat scroll 0% 0% #F0F0F0;
     border: 1px inset #989898;
     font: 12px Courier;
     margin: 0px 10px;
     max-height: 500px;
     overflow: auto;
     padding: 0px 10px;
}

.leftcolumn {
     float: left;
     height: 100%;
     width: 420px;
}

.rightcolumn {
     float: left;
     height: 100%;
     width: 420px;
}

.info {
     background: none repeat scroll 0% 0% #EFEFEF;
     margin-top: 2px;
     width: 95%;
}

.ftitle {
     background: none repeat scroll 0% 0% #D9E8E8;
     font-weight: bold;
     margin-top: 4px;
     width: 95%;
}

.farticle {
     background: none repeat scroll 0% 0% #FDFDFD;
     border-color: #CCCCCC;
     border-style: solid;
     border-width: 0px 1px 1px;
     width: 95%;
}

.float {
     float: left;
}

.float P {
     text-align: center;
}

DIV.spacer {
     clear: both;
}

A A:link {
     text-decoration: none;
}

A:visited {
     text-decoration: none;
}

A:active {
     text-decoration: none;
}

A:hover {
     text-decoration: none;
}

#webAdmin #toolband {
     background-color: #BBB97C;
     color: #FFFFFF;
}

#webEngine #toolband {
     background-color: #BBB97C;
     color: #FFFFFF;
}

#webFour #toolband {
     background-color: #D5D5D5;
     color: #FFFFFF;
}

#webMain #toolband {
     background-color: #D5D5D5;
     color: #FFFFFF;
}

#webOne #toolband {
     background-color: #D5D5D5;
     color: #FFFFFF;
}

#webPowered #toolband {
     background-color: #B18A6F;
     color: #FFFFFF;
}

#webTWiki #toolband {
     background-color: #DBADA7;
     color: #FFFFFF;
}

#webThree #toolband {
     background-color: #D5D5D5;
     color: #FFFFFF;
}

#webTwo #toolband {
     background-color: #9CA4BE;
     color: #FFFFFF;
}

#webTest #toolband {
     background-color: #9CA4BE;
     color: #FFFFFF;
}

#webTrash #toolband {
     background-color: #B5AA87;
     color: #FFFFFF;
}

#webUDNDev #toolband {
     background-color: #B5AA87;
     color: #FFFFFF;
}

#webEngine {
     background-color: #BBB97C;
}

#webEngine #head {
    
}

#webEngine #pagedefault {
     background: url("/pub/Engine_lines.gif") repeat scroll 0px 0px #FFFFFF;
}

#webEngine #maincol {
     background: url("/pub/Engine_bg_bot.gif") no-repeat scroll 0px 0px transparent;
}

#webbgEngine {
     background-color: #BBB97C;
}

#webEngine #footer {
     background-color: #BBB97C;
}

#webEngine #tooltop {
     background-color: #BBB97C;
}

#webEngine #tooltop {
     background-image: url("/pub/Engine_tooltop.gif");
     color: #FFFFFF;
}

#webEngine #tooltext {
     background-color: #DFDC94;
}

#webEngine #tooltexttwo {
     background-color: #DFDC94;
}

#webEngine #toolbottom {
     background: url("/pub/Engine_toolbot.gif") no-repeat scroll center top transparent;
}

#webEngine .linkedimages A:link {
     background-color: transparent;
     border-bottom-width: 0px;
}

#webEngine .linkedimages A:visited {
     background-color: transparent;
     border-bottom-width: 0px;
}

#webEngine .linkedimages A:hover {
     background-color: transparent;
     border-bottom-width: 0px;
}

#webEngine .linkedimages A:active {
     background-color: transparent;
     border-bottom-width: 0px;
}

#webEngine UL.nav LI.nav_Engine A {
     background-color: #F3F0A8;
     border-color: #003950;
     border-style: solid;
     border-width: 1px;
}

#webEngine UL.nav LI.nav_Engine A:hover {
     background-color: #F3F0A8;
     border-color: #003950;
     border-style: solid;
     border-width: 1px;
}

#webEngine #footer {
     color: #FFFFFF;
}

#webMain {
     background-color: #FFFFFF;
}

#webMain #head {
    
}

#webMain #pagedefault {
     background: url("/pub/Main_lines.gif") repeat scroll 0px 0px #FFFFFF;
}

#webbgMain {
     background-color: #666666;
}

#webMain #footer {
     background-color: #666666;
}

#webMain #tooltop {
     background-color: #666666;
}

#webMain #tooltop {
     background-image: url("/pub/Main_tooltop.gif");
     color: #FFFFFF;
}

#webMain #tooltext {
     background-color: #DEDEDE;
}

#webMain #tooltexttwo {
     background-color: #DEDEDE;
}

#webMain #toolbottom {
     background: url("/pub/Main_toolbot.gif") no-repeat scroll center top transparent;
}

#webMain .linkedimages A:link {
     background-color: transparent;
     border-bottom-width: 0px;
}

#webMain .linkedimages A:visited {
     background-color: transparent;
     border-bottom-width: 0px;
}

#webMain .linkedimages A:hover {
     background-color: transparent;
     border-bottom-width: 0px;
}

#webMain .linkedimages A:active {
     background-color: transparent;
     border-bottom-width: 0px;
}

#webMain UL.nav LI.nav_Main A {
     background-color: #EEEEEE;
     border-color: #003950;
     border-style: solid;
     border-width: 1px;
}

#webMain UL.nav LI.nav_Main A:hover {
     background-color: #EEEEEE;
     border-color: #003950;
     border-style: solid;
     border-width: 1px;
}

#webMain #footer {
     color: #FFFFFF;
}

#webPowered {
     background-color: #B18A6F;
}

#webPowered #head {
    
}

#webPowered #pagedefault {
     background: url("/pub/Powered_lines.gif") repeat scroll 0px 0px #FFFFFF;
}

#webPowered #maincol {
     background: url("/pub/Powered_bg_bot.gif") no-repeat scroll 0px 0px transparent;
}

#webbgPowered {
     background-color: #B18A6F;
}

#webPowered #footer {
     background-color: #B18A6F;
}

#webPowered #tooltop {
     background-color: #B18A6F;
}

#webPowered #tooltop {
     background-image: url("/pub/Powered_tooltop.gif");
     color: #FFFFFF;
}

#webPowered #tooltext {
     background-color: #DEAE8C;
}

#webPowered #tooltexttwo {
     background-color: #DEAE8C;
}

#webPowered #toolbottom {
     background: url("/pub/Powered_toolbot.gif") no-repeat scroll center top transparent;
}

#webPowered .linkedimages A:link {
     background-color: transparent;
     border-bottom-width: 0px;
}

#webPowered .linkedimages A:visited {
     background-color: transparent;
     border-bottom-width: 0px;
}

#webPowered .linkedimages A:hover {
     background-color: transparent;
     border-bottom-width: 0px;
}

#webPowered .linkedimages A:active {
     background-color: transparent;
     border-bottom-width: 0px;
}

#webPowered UL.nav LI.nav_Powered A {
     background-color: #F8CAA7;
     border-color: #003950;
     border-style: solid;
     border-width: 1px;
}

#webPowered UL.nav LI.nav_Powered A:hover {
     background-color: #F8CAA7;
     border-color: #003950;
     border-style: solid;
     border-width: 1px;
}

#webPowered #footer {
     color: #FFFFFF;
}

#webTWiki {
     background-color: #DBADA7;
}

#webTWiki #head {
    
}

#webTWiki #pagedefault {
     background: url("/pub/TWiki_lines.gif") repeat scroll 0px 0px #FFFFFF;
}

#webTWiki #maincol {
     background: url("/pub/TWiki_bg_bot.gif") no-repeat scroll 0px 0px transparent;
}

#webbgTWiki {
     background-color: #DBADA7;
}

#webTWiki #footer {
     background-color: #DBADA7;
}

#webTWiki #tooltop {
     background-color: #DBADA7;
}

#webTWiki #tooltop {
     background-image: url("/pub/TWiki_tooltop.gif");
     color: #FFFFFF;
}

#webTWiki #tooltext {
     background-color: #F8F4F2;
}

#webTWiki #tooltexttwo {
     background-color: #F8F4F2;
}

#webTWiki #toolbottom {
     background: url("/pub/TWiki_toolbot.gif") no-repeat scroll center top transparent;
}

#webTWiki .linkedimages A:link {
     background-color: transparent;
     border-bottom-width: 0px;
}

#webTWiki .linkedimages A:visited {
     background-color: transparent;
     border-bottom-width: 0px;
}

#webTWiki .linkedimages A:hover {
     background-color: transparent;
     border-bottom-width: 0px;
}

#webTWiki .linkedimages A:active {
     background-color: transparent;
     border-bottom-width: 0px;
}

#webTWiki UL.nav LI.nav_TWiki A {
     background-color: #F9CBC5;
     border-color: #003950;
     border-style: solid;
     border-width: 1px;
}

#webTWiki UL.nav LI.nav_TWiki A:hover {
     background-color: #F9CBC5;
     border-color: #003950;
     border-style: solid;
     border-width: 1px;
}

#webTWiki #footer {
     color: #FFFFFF;
}

#webThree {
    
}

#webThree #head {
     background-color: #FFFFFF;
}

#webThree #pagedefault {
     background: url("/pub/Three_lines.gif") repeat scroll 0px 0px #FFFFFF;
}

#webThree #maincol {
    
}

#webbgThree {
     background-color: #666666;
}

#webThree #footer {
     background-color: #666666;
}

#webThree #tooltop {
     background-color: #666666;
}

#webThree #tooltop {
     background-image: url("/pub/Three_tooltop.gif");
     color: #FFFFFF;
}

#webThree #tooltext {
     background-color: #DDE6EF;
}

#webThree #tooltexttwo {
     background-color: #DDE6EF;
}

#webThree #toolbottom {
     background: url("/pub/Three_toolbot.gif") no-repeat scroll center top transparent;
}

#webThree .linkedimages A:link {
     background-color: transparent;
     border-bottom-width: 0px;
}

#webThree .linkedimages A:visited {
     background-color: transparent;
     border-bottom-width: 0px;
}

#webThree .linkedimages A:hover {
     background-color: transparent;
     border-bottom-width: 0px;
}

#webThree .linkedimages A:active {
     background-color: transparent;
     border-bottom-width: 0px;
}

#webThree UL.nav LI.nav_Three A {
     color: #444444;
     font-family: Arial;
     text-decoration: none;
}

#webThree UL.nav LI.nav_Three A:hover {
     color: #DDDDDD;
     font-family: Arial;
     text-decoration: none;
}

#webThree #footer {
     color: #FFFFFF;
}

#webTwo {
     background-color: #9CA4BE;
}

#webTwo #head {
     background-color: #FFFFFF;
}

#webTwo #pagedefault {
     background: url("/pub/Two_lines.gif") repeat scroll 0px 0px #FFFFFF;
}

#webTwo #maincol {
    
}

#webbgTwo {
     background-color: #9CA4BE;
}

#webTwo #footer {
     background-color: #9CA4BE;
}

#webTwo #tooltop {
     background-color: #9CA4BE;
}

#webTwo #tooltop {
     background-image: url("/pub/Two_tooltop.gif");
     color: #FFFFFF;
}

#webTwo #tooltext {
     background-color: #B6BDDE;
}

#webTwo #tooltexttwo {
     background-color: #B6BDDE;
}

#webTwo #toolbottom {
     background: url("/pub/Two_toolbot.gif") no-repeat scroll center top transparent;
}

#webTwo .linkedimages A:link {
     background-color: transparent;
     border-bottom-width: 0px;
}

#webTwo .linkedimages A:visited {
     background-color: transparent;
     border-bottom-width: 0px;
}

#webTwo .linkedimages A:hover {
     background-color: transparent;
     border-bottom-width: 0px;
}

#webTwo .linkedimages A:active {
     background-color: transparent;
     border-bottom-width: 0px;
}

#webTwo #footer {
     color: #FFFFFF;
}

#webTest {
     background-color: #9CA4BE;
}

#webTest #head {
     background-color: #FFFFFF;
}

#webTest #pagedefault {
     background: url("/pub/Test_lines.gif") repeat scroll 0px 0px #FFFFFF;
}

#webTest #maincol {
    
}

#webbgTest {
     background-color: #9CA4BE;
}

#webTest #footer {
     background-color: #9CA4BE;
}

#webTest #tooltop {
     background-color: #9CA4BE;
}

#webTest #tooltop {
     background-image: url("/pub/Test_tooltop.gif");
     color: #FFFFFF;
}

#webTest #tooltext {
     background-color: #B6BDDE;
}

#webTest #tooltexttwo {
     background-color: #B6BDDE;
}

#webTest #toolbottom {
     background: url("/pub/Test_toolbot.gif") no-repeat scroll center top transparent;
}

#webTest .linkedimages A:link {
     background-color: transparent;
     border-bottom-width: 0px;
}

#webTest .linkedimages A:visited {
     background-color: transparent;
     border-bottom-width: 0px;
}

#webTest .linkedimages A:hover {
     background-color: transparent;
     border-bottom-width: 0px;
}

#webTest .linkedimages A:active {
     background-color: transparent;
     border-bottom-width: 0px;
}

#webTest #footer {
     color: #FFFFFF;
}

#webTrash {
     background-color: #B5AA87;
}

#webTrash #head {
     background: url("/pub/Trash_bg_top.gif") no-repeat scroll 0px 0px #F4F1ED;
     border-bottom: 5px solid #B5AA87;
}

#webTrash #pagedefault {
     background: url("/pub/Trash_lines.gif") repeat scroll 0px 0px #FFFFFF;
}

#webTrash #maincol {
     background: url("/pub/Trash_bg_bot.gif") no-repeat scroll 0px 0px transparent;
}

#webbgTrash {
     background-color: #B5AA87;
}

#webTrash #footer {
     background-color: #B5AA87;
}

#webTrash #tooltop {
     background-color: #B5AA87;
}

#webTrash #tooltop {
     background-image: url("/pub/Trash_tooltop.gif");
     color: #FFFFFF;
}

#webTrash #tooltext {
     background-color: #DED0A6;
}

#webTrash #tooltexttwo {
     background-color: #DED0A6;
}

#webTrash #toolbottom {
     background: url("/pub/Trash_toolbot.gif") no-repeat scroll center top transparent;
}

#webTrash .linkedimages A:link {
     background-color: transparent;
     border-bottom-width: 0px;
}

#webTrash .linkedimages A:visited {
     background-color: transparent;
     border-bottom-width: 0px;
}

#webTrash .linkedimages A:hover {
     background-color: transparent;
     border-bottom-width: 0px;
}

#webTrash .linkedimages A:active {
     background-color: transparent;
     border-bottom-width: 0px;
}

#webTrash UL.nav LI.nav_Trash A {
     background-color: #F2E4BA;
     border-color: #003950;
     border-style: solid;
     border-width: 1px;
}

#webTrash UL.nav LI.nav_Trash A:hover {
     background-color: #F2E4BA;
     border-color: #003950;
     border-style: solid;
     border-width: 1px;
}

#webTrash #footer {
     color: #FFFFFF;
}

#webAdmin {
     margin: 0px 20px;
     padding: 0px;
     width: auto;
}

#webEngine {
     margin: 0px 20px;
     padding: 0px;
     width: auto;
}

#webFour {
     margin: 0px 20px;
     padding: 0px;
     width: auto;
}

#webMain {
     margin: 0px 20px;
     padding: 0px;
     width: auto;
}

#webOne {
     margin: 0px 20px;
     padding: 0px;
     width: auto;
}

#webPowered {
     margin: 0px 20px;
     padding: 0px;
     width: auto;
}

#webTWiki {
     margin: 0px 20px;
     padding: 0px;
     width: auto;
}

#webThree {
     margin: 0px 20px;
     padding: 0px;
     width: auto;
}

#webTwo {
     margin: 0px 20px;
     padding: 0px;
     width: auto;
}

#webTest {
     margin: 0px 20px;
     padding: 0px;
     width: auto;
}

#webTrash {
     margin: 0px 20px;
     padding: 0px;
     width: auto;
}

#webUDNDev {
     margin: 0px 20px;
     padding: 0px;
     width: auto;
}

UNKNOWN {
     width: auto;
}

#head {
     height: 140px;
}

#logo {
     left: 40px;
     margin: 0px;
     padding: 0px;
     position: absolute;
     top: 0px;
}

#title {
     margin: 0px;
     padding: 31px 0px 0px 159px;
}

#nav {
     margin: 0px;
     padding: 82px 0px 0px 280px;
}

#maincol {
     background-color: transparent;
     height: 100%;
     padding: 10px 30px 30px;
}

#footer {
     font-size: 0.85em;
     padding: 4px 4px 30px 0px;
     text-align: right;
}

#hometop {
     padding: 10px 0px 40px;
     width: 400px;
}

#hometop P {
     font-style: italic;
     line-height: 1.33em;
     margin: 0px;
     padding-top: 5px;
     width: 400px;
}

#homequickies {
     float: left;
     width: 325px;
}

DIV.homequickie {
     width: 325px;
}

DIV.homequickieimage {
     float: left;
     text-align: right;
     width: 130px;
}

DIV.homequickietext {
     float: left;
     width: 190px;
}

DIV.homequickietext P {
     font-size: 0.85em;
     line-height: 1.33em;
     margin: 0px;
     padding: 0px 10px 10px;
}

#homeweblinks {
     border-left: 1px solid #000000;
     float: left;
     width: 270px;
}

DIV.homeweblink {
     width: 270px;
}

DIV.homeweblinkimage {
     float: left;
     text-align: right;
     width: 65px;
}

DIV.homeweblinktext {
     float: left;
}

DIV.homeweblinktext P {
     font-size: 0.85em;
     line-height: 1.33em;
     margin: 0px;
     padding: 0px 10px 0px 5px;
}

#homebottom {
     margin-top: 40px;
     width: 600px;
}

DIV.homebottomimage {
     float: left;
     padding-right: 30px;
}

#pagetoc IMG {
     float: left;
     padding: 0px 0px 1em 0.5em;
}

#pagetoc UL {
     float: left;
     margin-top: 0px;
     padding-bottom: 1em;
     padding-top: 0px;
     width: 200px;
}

DIV.spacer {
     clear: left;
}

#pagetoc .linksimage {
     width: 445px;
}

#pagetoc2 .image {
     float: left;
     padding-bottom: 1em;
     padding-top: 0px;
     width: 245px;
}

#pagetoc2 UL {
     margin-top: 0px;
     padding-top: 0px;
}

#pagetoc2 .links {
     float: left;
     padding-bottom: 1em;
     padding-right: 0.5em;
     width: 200px;
}

#pagetoc2 .image A {
     border-width: 0px;
}

#tool {
     float: right;
     margin: 10px 0px 0px 20px;
     padding: 0px;
     width: 215px;
}

#toolbottom {
     height: 12px;
     margin: -1px 0px 0px;
     padding: 0px;
     width: 215px;
}

#tooltop {
     background-repeat: no-repeat;
     font-family: tahoma,arial,sans-serif;
     font-size: 1em;
     font-weight: bold;
     margin: 0px;
     padding: 1px 0px;
     text-align: center;
     width: 215px;
}

#tooltext {
     font-size: 0.85em;
     margin: 0px;
     padding: 10px 10px 0px;
}

#tooltexttwo {
     font-size: 0.85em;
     margin: 0px;
     padding: 10px 10px 0px;
}

#tooltext HR {
     color: #FFFFFF;
     padding: 4px 0px;
}

#tooltexttwo HR {
     color: #FFFFFF;
     padding: 4px 0px;
}

#toolband {
     font-family: tahoma,arial,sans-serif;
     font-size: 1em;
     font-weight: bold;
     margin: 0px;
     padding: 1px 0px;
     text-align: center;
     width: 215px;
}

BODY {
     font-family: verdana,tahoma,arial,helvetica,sans-serif;
     font-size: small;
}

TD {
     font-family: verdana,tahoma,arial,helvetica,sans-serif;
     font-size: small;
}

UNKNOWN {
     font-size: x-small;
}

UNKNOWN {
     font-size: small;
}

A:link {
     background-color: transparent;
     border-bottom: 1px solid #123161;
     color: #000000;
     text-decoration: none;
}

A:active {
     background-color: transparent;
     border-bottom: 1px solid #123161;
     color: #000000;
     text-decoration: none;
}

A:visited {
     background-color: transparent;
     border-bottom: 1px solid #123161;
     color: #999999;
     text-decoration: none;
}

A:hover {
     border-bottom: 1px solid #123161;
     color: #000000;
     text-decoration: none;
}

#webEngine .homequickieimage A:link {
     background: none repeat scroll 0% 0% transparent;
     border-bottom-width: 0px;
}

#webEngine .homequickieimage A:visited {
     background: none repeat scroll 0% 0% transparent;
     border-bottom-width: 0px;
}

#webEngine .homequickieimage A:hover {
     background: none repeat scroll 0% 0% transparent;
     border-bottom-width: 0px;
}

#webEngine .homequickieimage A:active {
     background: none repeat scroll 0% 0% transparent;
     border-bottom-width: 0px;
}

#webEngine .homebottomimage A:link {
     background: none repeat scroll 0% 0% transparent;
     border-bottom-width: 0px;
}

#webEngine .homebottomimage A:visited {
     background: none repeat scroll 0% 0% transparent;
     border-bottom-width: 0px;
}

#webEngine .homebottomimage A:hover {
     background: none repeat scroll 0% 0% transparent;
     border-bottom-width: 0px;
}

#webEngine .homebottomimage A:active {
     background: none repeat scroll 0% 0% transparent;
     border-bottom-width: 0px;
}

#webEngine .homeweblinkimage A:link {
     background: none repeat scroll 0% 0% transparent;
     border-bottom-width: 0px;
}

#webEngine .homeweblinkimage A:visited {
     background: none repeat scroll 0% 0% transparent;
     border-bottom-width: 0px;
}

#webEngine .homeweblinkimage A:hover {
     background: none repeat scroll 0% 0% transparent;
     border-bottom-width: 0px;
}

#webEngine .homeweblinkimage A:active {
     background: none repeat scroll 0% 0% transparent;
     border-bottom-width: 0px;
}

#webMain .homequickieimage A:link {
     background: none repeat scroll 0% 0% transparent;
     border-bottom-width: 0px;
}

#webMain .homequickieimage A:visited {
     background: none repeat scroll 0% 0% transparent;
     border-bottom-width: 0px;
}

#webMain .homequickieimage A:hover {
     background: none repeat scroll 0% 0% transparent;
     border-bottom-width: 0px;
}

#webMain .homequickieimage A:active {
     background: none repeat scroll 0% 0% transparent;
     border-bottom-width: 0px;
}

#webMain .homebottomimage A:link {
     background: none repeat scroll 0% 0% transparent;
     border-bottom-width: 0px;
}

#webMain .homebottomimage A:visited {
     background: none repeat scroll 0% 0% transparent;
     border-bottom-width: 0px;
}

#webMain .homebottomimage A:hover {
     background: none repeat scroll 0% 0% transparent;
     border-bottom-width: 0px;
}

#webMain .homebottomimage A:active {
     background: none repeat scroll 0% 0% transparent;
     border-bottom-width: 0px;
}

#webMain .homeweblinkimage A:link {
     background: none repeat scroll 0% 0% transparent;
     border-bottom-width: 0px;
}

#webMain .homeweblinkimage A:visited {
     background: none repeat scroll 0% 0% transparent;
     border-bottom-width: 0px;
}

#webMain .homeweblinkimage A:hover {
     background: none repeat scroll 0% 0% transparent;
     border-bottom-width: 0px;
}

#webMain .homeweblinkimage A:active {
     background: none repeat scroll 0% 0% transparent;
     border-bottom-width: 0px;
}

UL.nav {
     color: #444444;
     display: inline;
     font-family: Arial;
     margin: 0px;
     padding: 0px;
     text-decoration: none;
}

UL.nav LI {
     color: #DDDDDD;
     display: inline;
     font-family: Arial;
     margin-left: 0px;
     padding-left: 5px;
     padding-right: 5px;
     text-decoration: none;
}

UL.nav A:link {
     background-color: transparent;
     border-bottom: 0px solid #123161;
     color: #00395D;
     font-size: 1em;
     font-weight: bold;
     padding: 2px 8px;
     text-decoration: none;
}

UL.nav A:visited {
     background-color: transparent;
     border-bottom: 0px solid #123161;
     color: #00395D;
     font-size: 1em;
     font-weight: bold;
     padding: 2px 8px;
     text-decoration: none;
}

UL.nav A:active {
     background-color: transparent;
     border-bottom: 0px solid #123161;
     color: #00395D;
     font-size: 1em;
     font-weight: bold;
     padding: 2px 8px;
     text-decoration: none;
}

UL.nav A:hover {
     border-bottom: 0px solid #123161;
     text-decoration: none;
}

FORM {
     margin: 0px;
     padding: 0px;
}

SELECT {
     font-family: verdana,tahoma,arial,helvetica,sans-serif;
     font-size: 0.9em;
     line-height: 1em;
     margin: 0px;
     padding: 0px;
}

INPUT.search {
     font-family: verdana,tahoma,arial,helvetica,sans-serif;
     font-size: 0.9em;
     line-height: 1em;
     margin: 0px;
     padding: 0px;
}

INPUT.submit {
     font-family: verdana,tahoma,arial,helvetica,sans-serif;
     font-size: 0.9em;
     line-height: 1em;
     margin: 0px;
     padding: 0px;
}

SELECT {
     margin-bottom: 4px;
}

INPUT.search {
     background-color: #FFFFFF;
     color: #000000;
}

INPUT.submit {
     background-color: #FFFFFF;
     color: #000000;
}

TABLE {
     background-color: #CCCCCC;
}

TD {
     background-color: #FFFFFF;
}

TH {
     background-color: #FFFFFF;
}

.wikidoc {
     background-color: #FFFFC3;
}

A.restricted {
     color: #FF0000;
}

A.restricted:visited {
     color: #FF0000;
}

BODY {
     color: #000000;
     line-height: 1.5em;
     margin: 0px;
     padding: 0px;
}

CODE {
     font-family: monospace;
     font-size: 100%;
     font-weight: normal;
}

TT {
     font-family: monospace;
     font-size: 100%;
     font-weight: normal;
}

PRE {
     font-family: monospace;
     font-size: 100%;
     font-weight: normal;
}

H1 {
     clear: both;
     color: #123161;
     font-family: tahoma,arial,sans-serif;
     font-weight: bold;
     letter-spacing: 0.05em;
}

H2 {
     clear: both;
     color: #123161;
     font-family: tahoma,arial,sans-serif;
     font-weight: bold;
     letter-spacing: 0.05em;
}

H3 {
     color: #123161;
     font-family: tahoma,arial,sans-serif;
     font-weight: bold;
     letter-spacing: 0.05em;
}

H4 {
     color: #123161;
     font-family: tahoma,arial,sans-serif;
     font-weight: bold;
     letter-spacing: 0.05em;
}

H5 {
     color: #123161;
     font-family: tahoma,arial,sans-serif;
     font-weight: bold;
     letter-spacing: 0.05em;
}

H6 {
     color: #123161;
     font-family: tahoma,arial,sans-serif;
     font-weight: bold;
     letter-spacing: 0.05em;
}

H1 {
     font-weight: bold;
}

H2 {
     font-weight: normal;
}

H3 {
     font-weight: normal;
}

H4 {
     font-weight: normal;
}

H5 {
     font-weight: normal;
}

H6 {
     font-weight: normal;
}

H2 {
     margin-top: 1.5em;
}

H3 {
     margin-top: 1.5em;
}

H1 {
     font-size: 1.9em;
}

H2 {
     font-size: 1.7em;
}

H3 {
     font-size: 1.6em;
}

H4 {
     font-size: 1.5em;
}

H5 {
     font-size: 1.4em;
}

H6 {
     font-size: 1.2em;
}

IMG {
     border-width: 0px;
}

.hide {
     display: none;
}
hr {
     clear: both;
}