<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Tools.CrashReporter.CrashReportReceiver.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <applicationSettings>
        <Tools.CrashReporter.CrashReportReceiver.Properties.Settings>
            <setting name="MaxAllowedBandwidthMB" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="MaxAllowedCPUtilizationPct" serializeAs="String">
                <value>75</value>
            </setting>
            <setting name="CrashReportRepository" serializeAs="String">
                <value>U:\CRASHREPORT\DMZ</value>
            </setting>
        </Tools.CrashReporter.CrashReportReceiver.Properties.Settings>
    </applicationSettings>
</configuration>
