<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Tools.CrashReporter.CrashReportProcess.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Tools.CrashReporter.CrashReportProcess.Properties.Settings>
			<setting name="ProcessedReports" serializeAs="String">
				<value>E:\Sites\CrashReporterFiles</value>
			</setting>
			<setting name="DaysToSunsetReport" serializeAs="String">
				<value>14</value>
			</setting>
			<setting name="DepotRoot" serializeAs="String">
				<value>F:\depot</value>
			</setting>
			<setting name="CrashReportWebSite" serializeAs="String">
				<value>CrashReporterUE4</value>
			</setting>
			<setting name="ProcessedVideos" serializeAs="String">
				<value>F:\CrashReporterVideos</value>
			</setting>
			<setting name="InternalLandingZone" serializeAs="String">
				<value>F:\InternalCrashReports\CrashReportRepository</value>
			</setting>
			<setting name="ExternalLandingZone" serializeAs="String">
				<value>\\na-web-cluster.dmz.epicgames.net\crash_reporter\Rep</value>
			</setting>
			<setting name="InvalidReportsDirectory" serializeAs="String">
				<value>F:\InvalidCrashReports</value>
			</setting>
			<setting name="DepotIndex" serializeAs="String">
				<value>crash-01</value>
			</setting>
        </Tools.CrashReporter.CrashReportProcess.Properties.Settings>
    </applicationSettings>
</configuration>
