<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.0" />
		<authentication mode="Windows"/>
			<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="Off"/>
        -->
		<customErrors mode="Off"/>
		<httpRuntime maxRequestLength="2048000" executionTimeout="300"/>
	</system.web>
	<system.webServer>
		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="2048000" />
			</requestFiltering>
		</security>
	</system.webServer>
	<appSettings>
		<add key="LogFileName" value="C:\EngineCrashReportLog\AutoReportServiceLogV2.txt"/>
		<add key="SaveFilesPath" value="E:\Sites\CrashReporterFiles\"/>
		<add key="VideoFilesPath" value="F:\CrashReporterVideos\"/>
		<add key="VirtualSaveFilesPath" value="ReportFiles/"/>
		<add key="RemovedFolderIDVersion" value="5640"/>
	</appSettings>
	<connectionStrings>
		<add name="CrashReportConnectionString" connectionString="Data Source=db-09;Initial Catalog=CrashReport;Integrated Security=true;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>
