<?xml version="1.0"?>
<configuration>
	<configSections>
  <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="P4ChangeParserApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </sectionGroup>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="P4ChangeParserApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
	<runtime>
		<generatePublisherEvidence enabled="false"/>
	</runtime>
 <applicationSettings>
  <P4ChangeParserApp.Properties.Settings>
   <setting name="DefaultDepotPath" serializeAs="String">
    <value>//depot/...</value>
   </setting>
   <setting name="P4Server" serializeAs="String">
    <value>p4-server.epicgames.net:1666</value>
   </setting>
   <setting name="DepotPathMustStartWith" serializeAs="String">
    <value>//depot/</value>
   </setting>
  </P4ChangeParserApp.Properties.Settings>
 </applicationSettings>
 <userSettings>
  <P4ChangeParserApp.Properties.Settings>
   <setting name="DepotPathMustEndWith" serializeAs="String">
    <value>...</value>
   </setting>
   <setting name="NowString" serializeAs="String">
    <value>now</value>
   </setting>
  </P4ChangeParserApp.Properties.Settings>
 </userSettings>
</configuration>
