<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MarkdownMode.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MarkdownMode.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <MarkdownMode.Properties.Settings>
            <setting name="SourceDirectoryName" serializeAs="String">
                <value>Source</value>
            </setting>
            <setting name="DoCompressImages" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CompressImageType" serializeAs="String">
                <value>jpg</value>
            </setting>
            <setting name="JpegCompressionRate" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="DefaultImageFillColorText" serializeAs="String">
                <value>#FFFFFF</value>
            </setting>
            <setting name="SupportedLanguagesString" serializeAs="String">
                <value>INT,CHN,JPN,KOR</value>
            </setting>
            <setting name="DefaultTemplate" serializeAs="String">
                <value>Default.html</value>
            </setting>
            <setting name="MetadataErrorIfMissingString" serializeAs="String">
                <value>Title,Crumbs</value>
            </setting>
            <setting name="MetadataInfoIfMissingString" serializeAs="String">
                <value>Description</value>
            </setting>
            <setting name="PublicAvailabilitiesString" serializeAs="String">
                <value>Public</value>
            </setting>
            <setting name="ImagesFolderName" serializeAs="String">
                <value>Images</value>
            </setting>
            <setting name="DoNotPublishAvailabilitiesFlag" serializeAs="String">
                <value>NoPublish</value>
            </setting>
            <setting name="SupportedAvailabilitiesString" serializeAs="String">
                <value>Licensee,Rocket,Epic,Docs</value>
            </setting>
            <setting name="SupportedLanguageLabelsString" serializeAs="String">
                <value>English,中国,日本人,한국어</value>
            </setting>
        </MarkdownMode.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <MarkdownMode.Properties.Settings>
            <setting name="APIFolderLocation" serializeAs="String">
                <value>API</value>
            </setting>
            <setting name="LastAvailability" serializeAs="String">
                <value>Licensee,Rocket,Epic,Docs</value>
            </setting>
            <setting name="FirstRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DisableAllParsing" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DisableHighlighting" serializeAs="String">
                <value>False</value>
            </setting>
        </MarkdownMode.Properties.Settings>
    </userSettings>
</configuration>