@using Tools.CrashReporter.CrashReportWebSite.Models
@model EmailSubscriptionResponseModel

<div style="color:darkred;">
    <p>
        E-mail Sign-Up Succesful for E-mail : @Model.Email and Branch : @Model.Branch
    </p>
</div>