// Some copyright should be here...

#pragma once

#include "ModuleManager.h"

%PUBLIC_HEADER_INCLUDES%

class F%PLUGIN_NAME%Module : public IModuleInterface
{
public:

	/** IModuleInterface implementation */
	virtual void StartupModule() override;
	virtual void ShutdownModule() override;
};