<?xml version="1.0" encoding="utf-8"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Tools.CrashReporter.CrashReportWebSite.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <appSettings />
  <connectionStrings>
    <add name="CrashReportConnectionString" connectionString="Data Source=db-09;Initial Catalog=CrashReport;Server=db-09;Database=CrashReport;Connection Timeout=300;Integrated Security=true" providerName="System.Data.SqlClient" />
    <add name="CrashReportTestConnectionString" connectionString="Data Source=CrashReporterDev;Initial Catalog=CrashReport;Server=NCLRNDEV-02;Database=CrashReporterDev;Integrated Security=true" providerName="System.Data.SqlClient" />
    <add name="Hangfire" connectionString="Data Source=db-09;Initial Catalog=CrashReporterSchduledTask;Server=db-09;Database=CrashReport;Integrated Security=true" providerName="System.Data.SqlClient" />
  <add name="CrashReportEntities" connectionString="metadata=res://*/DataModels.CrashReports.csdl|res://*/DataModels.CrashReports.ssdl|res://*/DataModels.CrashReports.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=db-09;initial catalog=CrashReport;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5"></compilation>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm"/>
            <error statusCode="404" redirect="FileNotFound.htm"/>
        </customErrors>
    -->
    <customErrors mode="Off" />
    <pages enableSessionState="false" clientIDMode="AutoID" controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="Tools.CrashReporter.CrashReportWebSite.Views.Helpers" />
      </namespaces>
    </pages>
    <sessionState mode="Off" />
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
  -->
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="false">
      <add name="UriCacheModule" />
      <!--<add name="FileCacheModule"/>-->
      <add name="TokenCacheModule" />
      <add name="RequestMonitorModule" />
    </modules>
    <handlers>
      <remove name="UrlRoutingHandler" />
    </handlers>
    <caching>
      <profiles>
        <add extension=".aspx" policy="CacheForTimePeriod" kernelCachePolicy="CacheForTimePeriod" duration="00:02:30" varyByHeaders="Post" />
      </profiles>
    </caching>
  </system.webServer>
  <applicationSettings>
    <Tools.CrashReporter.CrashReportWebSite.Properties.Settings>
      <setting name="CrashReporterFiles" serializeAs="String">
        <value>/CrashReporterFiles/</value>
      </setting>
      <setting name="CrashReporterVideos" serializeAs="String">
        <value>/CrashReporterVideos/</value>
      </setting>
      <setting name="CrashReporterCSV" serializeAs="String">
        <value>/CrashReporterCSV/</value>
      </setting>
      <setting name="JiraDeploymentAddress" serializeAs="String">
        <value>https://jira.ol.epicgames.net/rest/api/2</value>
      </setting>
      <setting name="SitePath" serializeAs="String">
        <value>\\devweb-02\Sites</value>
      </setting>
      <setting name="SlackWebhookUrl" serializeAs="String">
        <value>https://hooks.slack.com/services/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</value>
      </setting>
      <setting name="SlackChannel" serializeAs="String">
        <value>#crashreporterspam</value>
      </setting>
      <setting name="SlackUsername" serializeAs="String">
        <value>CrashReportWebsite</value>
      </setting>
      <setting name="SlackEmoji" serializeAs="String">
        <value>:rngesus:</value>
      </setting>
    </Tools.CrashReporter.CrashReportWebSite.Properties.Settings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data.Linq" publicKeyToken="b77a5c561934e089" />
        <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network">
        <network host="smtp.epicgames.net" defaultCredentials="false" />
      </smtp>
    </mailSettings>
  </system.net>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>