<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="UnrealDocToolSettings" type="UnrealDocTool.UnrealDocToolSettings, UnrealDocTool, Version=1.1.0.0, Culture=neutral, PublicKeyToken=null"/>
    <sectionGroup name="Settings" type="System.Configuration.SettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="UnrealDocTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="UnrealDocTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="UnrealDocTool.Properties.User" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>

  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>

  <system.diagnostics>
    <trace autoflush="false" indentsize="4">
      <listeners>
        <add name="myListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="UnrealDocToolLogs/log.txt"/>
        <add name="configConsoleListener" type="System.Diagnostics.ConsoleTraceListener"/>
        <remove name="Default"/>
      </listeners>
    </trace>
  </system.diagnostics>
  
  <applicationSettings>
    <UnrealDocTool.Properties.Settings>
      <setting name="SourceDirectory" serializeAs="String">
        <value>../../Documentation/Source</value>
      </setting>
      <setting name="OutputDirectory" serializeAs="String">
        <value>../../Documentation/HTML</value>
      </setting>
      <setting name="DoCompressImages" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CompressImageType" serializeAs="String">
        <value>jpg</value>
      </setting>
      <setting name="ImageJPGCompressionValue" serializeAs="String">
        <value>80</value>
      </setting>
      <setting name="ImageFillColor" serializeAs="String">
        <value>#FFFFFF</value>
      </setting>
      <setting name="SupportedLanguages" serializeAs="String">
        <value>INT,CHN,JPN,KOR</value>
      </setting>
      <setting name="DefaultTemplate" serializeAs="String">
        <value>Default.html</value>
      </setting>
      <setting name="MetadataInfoIfMissing" serializeAs="String">
        <value>Description</value>
      </setting>
      <setting name="MetadataCleanKeepThese" serializeAs="String">
        <value>Title,Crumbs,Description,HtmlDocumentType,INTSourceChangelist,Availability,DoIndex,Keywords</value>
      </setting>
      <setting name="PublicAvailabilityFlag" serializeAs="String">
        <value>Public</value>
      </setting>
      <setting name="APIFolderLocation" serializeAs="String">
        <value>API</value>
      </setting>
      <setting name="IncludeDirectory" serializeAs="String">
        <value>Include</value>
      </setting>
      <setting name="InternationalizationDirectory" serializeAs="String">
        <value>Internationalization</value>
      </setting>
      <setting name="SupportedAvailability" serializeAs="String">
        <value>Licensee,Rocket,Epic,Docs</value>
      </setting>
      <setting name="DoNotPublishAvailabilityFlag" serializeAs="String">
        <value>NoPublish</value>
      </setting>
      <setting name="SupportedLanguageLabels" serializeAs="String">
        <value>English,中国,日本人,한국어</value>
      </setting>
      <setting name="MetadataErrorIfMissing" serializeAs="String">
        <value>Title,Availability</value>
      </setting>
    </UnrealDocTool.Properties.Settings>
  </applicationSettings>
  <userSettings>
    <UnrealDocTool.Properties.User>
      <setting name="SupportedAvailability" serializeAs="String">
        <value>Licensee,Rocket,Epic</value>
      </setting>
      <setting name="SourceDirectory" serializeAs="String">
        <value>../../Documentation/Source</value>
      </setting>
      <setting name="OutputDirectory" serializeAs="String">
        <value>../../Documentation/HTML</value>
      </setting>
      <setting name="SupportedLanguages" serializeAs="String">
        <value>INT,CHN,JPN,KOR</value>
      </setting>
      <setting name="SupportedLanguageLabels" serializeAs="String">
        <value>English,中国,日本人,한국어</value>
      </setting>
      <setting name="HasRun" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LogVerbosityParam" serializeAs="String">
        <value>INFO</value>
      </setting>
      <setting name="HelpFlag" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LogOnlyFlag" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PreviewFlag" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CleanFlag" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PathsSpec" serializeAs="String">
        <value>.</value>
      </setting>
      <setting name="DefaultTemplate" serializeAs="String">
        <value>Default.html</value>
      </setting>
      <setting name="OutputFormat" serializeAs="String">
        <value>HTML</value>
      </setting>
      <setting name="PathPrefix" serializeAs="String">
        <value />
      </setting>
    </UnrealDocTool.Properties.User>
  </userSettings>
</configuration>
