<?xml version="1.0" encoding="utf-8"?>
<Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<VersionString>MyVersionString_v0.1</VersionString>
	<ProcessedReports>MyProcessedReportsFolderPath</ProcessedReports>
	<DeleteWaitingReportsDays>14</DeleteWaitingReportsDays>
	<CrashReportWebSite>MyCrashReportWebsiteName</CrashReportWebSite>
	<ProcessedVideos>MyProcessedVideosFolderPath</ProcessedVideos>
	<DepotRoot>MyP4DepotRootFolderPath</DepotRoot>
	<P4User>MyP4Username</P4User>
	<P4Client>MyP4Workspace</P4Client>
	<InternalLandingZone>MyInternalCrashLandingZoneFolderPath</InternalLandingZone>
	<ExternalLandingZone>MyExternallCrashLandingZoneFolderPath</ExternalLandingZone>
	<DataRouterLandingZone>MyDataRouterCrashLandingZoneFolderPath</DataRouterLandingZone>
	<InvalidReportsDirectory>MyInvalidCrashReportsFolderPath</InvalidReportsDirectory>
	<DepotIndex>MyDepotCustomizationhPassedToMDD</DepotIndex>
	<SyncBinariesFromDepot>MyMDDBinariesPathInP4Depot</SyncBinariesFromDepot>
	<SyncConfigFromDepot>MyMDDConfigPathInP4Depot</SyncConfigFromDepot>
	<SyncThirdPartyFromDepot>MyThirdPartyBinariesPathInP4Depot</SyncThirdPartyFromDepot>
	<MDDBinariesFolderInDepot>MyMDDBinariesFolderPathInP4Depot</MDDBinariesFolderInDepot>
	<AddReportsPerProcessor>1</AddReportsPerProcessor>
	<ProcessorThreadCount>10</ProcessorThreadCount>
	<SlackWebhookUrl>MySlackWebhookForPostingMessages</SlackWebhookUrl>
	<SlackChannel>MySlackChannelForPostingMessages</SlackChannel>
	<SlackUsername>MySlackUserForPostingMessages</SlackUsername>
	<SlackEmoji>MySlackUserEmojiForPostingMessages</SlackEmoji>
	<DebugTestingFolder>MyDebugTestingFolderPath</DebugTestingFolder>
	<MinutesBetweenQueueSizeReports>60</MinutesBetweenQueueSizeReports>
	<ConsecutiveFailedWebAddLimit>10</ConsecutiveFailedWebAddLimit>
	<MinDesiredMemoryQueueSize>50</MinDesiredMemoryQueueSize>
	<MaxMemoryQueueSize>250</MaxMemoryQueueSize>
	<AWSS3ServiceURL>https://s3.amazonaws.com</AWSS3ServiceURL>
	<AWSSQSServiceURL>https://sqs.us-west-2.amazonaws.com</AWSSQSServiceURL>
	<AWSSQSQueueUrl>https://sqs.us-west-2.amazonaws.com/queue.amazonaws.com/MyAccountNumber/MyQueueName</AWSSQSQueueUrl>
	<AWSProfileName>default</AWSProfileName>
	<AWSCredentialsFilepath>MyAWSCredsFilepath</AWSCredentialsFilepath>
	<MaxUncompressedS3RecordSize>33554432</MaxUncompressedS3RecordSize>
	<ProcessedReportsIndexPath>MyProcessedReportsIndexFilePath</ProcessedReportsIndexPath>
	<ReportsIndexRetentionDays>120</ReportsIndexRetentionDays>
	<AddCrashRequestTimeoutMillisec>300000</AddCrashRequestTimeoutMillisec>
	<AddCrashRetryDelayMillisec>20000</AddCrashRetryDelayMillisec>
</Config>