<?xml version="1.0" encoding="utf-8"?>
<Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<VersionString>MyVersionString_v0.1</VersionString>
	<ProcessedReports>MyProcessedReportsFolderPath</ProcessedReports>
	<DeleteWaitingReportsDays>14</DeleteWaitingReportsDays>
	<CrashReportWebSite>MyCrashReportWebsiteName</CrashReportWebSite>
	<ProcessedVideos>MyProcessedVideosFolderPath</ProcessedVideos>
	<DepotRoot>MyP4DepotRootFolderPath</DepotRoot>
	<P4User>MyP4Username</P4User>
	<P4Client>MyP4Workspace</P4Client>
	<InternalLandingZone>MyInternalCrashLandingZoneFolderPath</InternalLandingZone>
	<ExternalLandingZone>MyExternallCrashLandingZoneFolderPath</ExternalLandingZone>
	<DataRouterLandingZone>MyDataRouterCrashLandingZoneFolderPath</DataRouterLandingZone>
	<PS4LandingZone>MyPS4CrashLandingZoneFolderPath</PS4LandingZone>
	<QueueLowerLimitForDiscard>5000</QueueLowerLimitForDiscard>
	<QueueUpperLimitForDiscard>20000</QueueUpperLimitForDiscard>
	<DepotIndex>MyDepotCustomizationhPassedToMDD</DepotIndex>
	<MDDExecutablePath>MyMDDBinaryPath</MDDExecutablePath>
	<MDDPDBCachePath>MyMDDPDBCacheFolderPath</MDDPDBCachePath>
	<MDDPDBCacheSizeGB>500</MDDPDBCacheSizeGB>
	<MDDPDBCacheMinFreeSpaceGB>32</MDDPDBCacheMinFreeSpaceGB>
	<MDDPDBCacheFileDeleteDays>3</MDDPDBCacheFileDeleteDays>
	<MDDTimeoutMinutes>15</MDDTimeoutMinutes>
	<AddReportsPerProcessor>1</AddReportsPerProcessor>
	<ProcessorThreadCount>10</ProcessorThreadCount>
	<MaxConcurrentMDDs>5</MaxConcurrentMDDs>
	<SlackWebhookUrl>MySlackWebhookForPostingMessages</SlackWebhookUrl>
	<SlackChannel>MySlackChannelForPostingMessages</SlackChannel>
	<SlackUsername>MySlackUserForPostingMessages</SlackUsername>
	<SlackEmoji>MySlackUserEmojiForPostingMessages</SlackEmoji>
	<SlackAlertRepeatMinimumMinutes>10</SlackAlertRepeatMinimumMinutes>
	<SlackDecimateAlertRepeatMinimumMinutes>45</SlackDecimateAlertRepeatMinimumMinutes>
	<DebugTestingFolder>MyDebugTestingFolderPath</DebugTestingFolder>
	<MinutesBetweenQueueSizeReports>60</MinutesBetweenQueueSizeReports>
	<ConsecutiveFailedWebAddLimit>10</ConsecutiveFailedWebAddLimit>
	<MinDesiredMemoryQueueSize>50</MinDesiredMemoryQueueSize>
	<MaxMemoryQueueSize>250</MaxMemoryQueueSize>
	<AWSCredentialsFilepath>MyAWSCredsFilepath</AWSCredentialsFilepath>
	<AWSProfileInputName>defaultin</AWSProfileInputName>
	<AWSS3ServiceInputURL>https://s3.amazonaws.com</AWSS3ServiceInputURL>
	<AWSSQSServiceInputURL>https://sqs.us-west-2.amazonaws.com</AWSSQSServiceInputURL>
	<AWSSQSQueueInputUrl>https://sqs.us-west-2.amazonaws.com/queue.amazonaws.com/MyAccountNumber/MyQueueName</AWSSQSQueueInputUrl>
	<AWSProfileOutputName>defaultout</AWSProfileOutputName>
	<AWSS3ServiceOutputURL>https://s3.amazonaws.com</AWSS3ServiceOutputURL>
	<CrashFilesToDisk>true</CrashFilesToDisk>
	<CrashFilesToAWS>false</CrashFilesToAWS>
	<InvalidReportsToAWS>false</InvalidReportsToAWS>
	<AWSS3OutputBucket>crashreporterfiles</AWSS3OutputBucket>
	<AWSS3OutputKeyPrefix>websitefiles</AWSS3OutputKeyPrefix>
	<AWSS3InvalidKeyPrefix>invalidcrashreports</AWSS3InvalidKeyPrefix>
	<MaxUncompressedS3RecordSize>33554432</MaxUncompressedS3RecordSize>
	<ProcessedReportsIndexPath>MyProcessedReportsIndexFilePath</ProcessedReportsIndexPath>
	<ReportsIndexRetentionDays>120</ReportsIndexRetentionDays>
	<AddCrashRequestTimeoutMillisec>300000</AddCrashRequestTimeoutMillisec>
	<AddCrashRetryDelayMillisec>20000</AddCrashRetryDelayMillisec>
	<DiskSpaceAlertPercent>10.0</DiskSpaceAlertPercent>
	<MonitorPerformance>false</MonitorPerformance>
</Config>