<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="UnrealDocTranslator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UnrealDocTranslator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <UnrealDocTranslator.Properties.Settings>
            <setting name="TranslationLanguages" serializeAs="String">
                <value>KOR,JPN,CHN</value>
            </setting>
            <setting name="SourceDirectoryName" serializeAs="String">
                <value>Source</value>
            </setting>
            <setting name="OutputDirectoryName" serializeAs="String">
                <value>HTML</value>
            </setting>
            <setting name="DefaultDepotPath" serializeAs="String">
                <value>//UE4/Main/Engine/Documentation/Source...udn</value>
            </setting>
            <setting name="DefaultAraxisPath" serializeAs="String">
                <value>C:\Program Files\Araxis\Araxis Merge</value>
            </setting>
            <setting name="DepotPathMustStartWith" serializeAs="String">
                <value>//UE4/Main</value>
            </setting>
            <setting name="DepotPathMustEndWith" serializeAs="String">
                <value>...udn</value>
            </setting>
        </UnrealDocTranslator.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup>
  <system.diagnostics>
    <trace autoflush="false" indentsize="4">
      <listeners>
        <remove name="Default" />
      </listeners>
    </trace>
  </system.diagnostics>
  <userSettings>
    <UnrealDocTranslator.Properties.Settings>
      <setting name="MoveDeleteChangelistDescription" serializeAs="String">
        <value>#loc UE4Doc{0} moved or deleted</value>
      </setting>
      <setting name="DefaultSearchBoxText" serializeAs="String">
        <value>Search Files</value>
      </setting>
      <setting name="SubmitChangelistDescription" serializeAs="String">
        <value>#loc UE4Doc{0}</value>
      </setting>
    </UnrealDocTranslator.Properties.Settings>
  </userSettings>
</configuration>
